.text-box .MuiOutlinedInput-root{
  border-radius: 18px;
 
  
}
.date-button{
  border-radius:12px !important;
  margin: 0.5rem 0 !important;
 
}
body {
  background-color:#f5f3ef;;
}

.date-display{
  display: flex;
  align-items:center;
  margin:0 0 0 1rem;
  height:1.5rem;
  
}