.maincontainer {
  position:relative;
  width: 100vw;
  height:90vh;
}
.event-container {
  top:0%;
  left:0%;
  width: 100vw;
  height: 90vh;
  overflow:hidden;
 position:absolute
}

.event-background {
  top:0%;
  left:0%;
  width: 100vw;
  height:100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index:1;
  position: absolute;
}

.event-front{
  position:relative;
  display:flex;
  justify-content: center;
  align-items:center;
  position:relative;
  height:100%;
}

.event-image {
  z-index: 10;
  height:80vh;
  width:35vw;
  object-fit:cover;
}

.forward-button {
  position:relative;
  top:50%;
  
  z-index:100;
 border-color:aqua;
 border : solid;
 background-color: transparent;
}
.backward-button {
  position:relative;
  top:50%;
  z-index:100;
  border-color:aqua;
  border: solid;
  background-color: transparent;
}

.event-description-container {
  display:flex;
  width:100vw;
   align-items: center;
  justify-content:center;
}

.event-description{
  padding:1rem;
  padding: 2vw;
  font-size:1.7vw;
  font-family: 'Montserrat', sans-serif;
  
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 20px;
  padding: 20px;
}

.grid-element {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
